<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>JohnsList - Home Page</title>
  </head>
  <header>
    <%- include ('../partials/header.ejs') %>
  </header>
  <body>
    <h1>Home Page</h1>
    <div class="create">
      <a href="#">Post a New Item</a>
    </div>
    <div class='container'>
      <% for (let item of items){ %>
        <div class="item">
          <h3><%=item.name%><span>$<%=item.price%></span></h3>
          <img src="<%=item.image%>" alt="<%=item.name%>">
          <p><%=item.description%></p>
        </div>

      }
    </div>
  </body>
</html>
