<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>JohnsList - Show Page</title>
  </head>
  <header>
    <div class="johnslist">
      <h1>JohnsList</h1>
    </div>
    <%- include ('../partials/header.ejs') %>
  </header>
  <body>
    <div class='uk-container uk-padding-small'>
      <div class="uk-card uk-card-default uk-padding">
        <h1><%=item.name%></h1>
        <h3>$<%=item.price%></h3>
        <hr>
        <div uk-lightbox>
          <a href="<%=item.image%>"><img class='uk-img' height='' width='' data-src="<%=item.image%>" alt="<%=item.name%>" uk-img></a>
        </div>
        <hr>
        <p><%=item.description%></p>
        <button class='uk-align-center uk-button uk-button-default uk-margin-small-bottom' type="button" name="button">Contact Seller</button>
      </div>
    </div>
    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
